div{
    /* height: 200px;
    width: 200px; */
    /* overflow: visible; */
    /*قيمتها الافتراضيه هكذا وما بتغير اشي ومعناه ان الاشي الي بظهر خارج الديف رح يبين عادي */
    /* overflow: hidden; */
    /*معناها اي محتوى بخرج عن الديف بدي ياه يختفي وما يبين*/
    /* overflow: scroll; */
    /*بيظهرلي شريط للسحب للاسفلا واليمين واليسار*/
    /* overflow: auto; */
    /*شريط للاسفل والاعلى فقط(هي تقوم بالتنسيق حسب الحاجة والمحتوى) */
    text-align: center;
    margin-top:25% ;
    color: blue;

}